@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #22254b;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

header {
    background-color: #373b69;
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
}

.logo {
    width: 80px;
    background-color: transparent;
    object-fit: contain;
}

.menu-bar {
    display: flex;
}

.menu {
    background-color: transparent;
    border: none;
    color: #7378c5;
    font-size: medium;
    min-width: 110px;
    font-weight: 600;
    cursor: pointer;
    height: 100%;
}

.menu:focus {
    background-color: #22254b;
    color: #FFFFFF;
    outline-style: none;
}

.clicked {
    background-color: #22254b;
    color: #FFFFFF;
    outline-style: none;
}

.search {
    border-radius: 50px;
    background-color: transparent;
    font-family: inherit;
    border: 2px solid #22254b;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #ffffff;
    margin: 1.5rem 0.5rem;
}

.search::placeholder {
    color: #7378c5;
}

.search:focus {
    background-color: #22254b;
    outline: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 1rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #22254b;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    border-radius: 3px;
}

.movie-info span.green {
    color: #008000;
}

.movie-info span.orange {
    color: #ffa500;
}

.movie-info span.red {
    color: #ff0000;
}

.overview {
    background-color: #ffffff;
    position: absolute;
    padding: 2rem;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease-in;
}

.overview h3 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}

.popup-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.popup-container.hidden {
    opacity: 0;
    /* Set up to no click zone for event */
    pointer-events: none;
}

.popup {
    background-color: #FFFFFF;
    padding: 1rem 0rem 0rem;
    /* border-radius: 10px; */
    max-width: 600px;
    width: 100%;
    position: relative;
    overflow: auto;
    max-height: 100vh;
    max-width: 600px;
    width: 100%;
}

.popup .close-popup {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.movie-detail {
    padding: 1rem 1rem 0rem;
}

.movie-detail h5 {
    font-weight: normal;
    font-size: medium;
    margin-top: 1rem;
}

.movie-detail span {
    font-weight: bold;
    font-size: large;
    color: #708ED2;
}

.movie-detail .movie-header {
    display: flex;
    flex-direction: row;
}

.movie-detail .movie-header img {
    width: 40%;
    object-fit: contain;
}

.movie-detail .movie-header .movie-short-detail {
    margin: 0 1rem;
}

.movie-detail .movie-header .movie-short-detail .average {
    background-color: #708ED2;
    padding: 0.5rem;
    font-weight: 500;
    border-radius: 50%;
    color: #ffffff;
}

.movie-detail .movie-header .movie-short-detail .title {
    color: #708ED2;
    font-weight: 500;
    font-size: xx-large;
    font-family: inherit;
    margin: 0.5rem 0rem 1rem;
}

.movie-detail .movie-header .movie-short-detail h4 {
    font-weight: 600;
    margin: 0.5rem 0rem;
}

.movie-detail .movie-header .movie-short-detail .movie-genre {
    display: flex;
    flex-wrap: wrap;
}

.movie-detail .movie-header .movie-short-detail .movie-genre span {
    background-color: #708ED2;
    padding: 0.2rem;
    margin-top: 0.2rem;
    margin-right: 0.2rem;
    border-radius: 10px;
    font-size: 0.9rem;
    color: #ffffff;
    font-weight: 300;
}

.movie-cast {
    background-color: #d9e1f1;
    text-align: center;
}

.cast {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    /* max-height: 150px; */
}

.cast li {
    cursor: pointer;
    position: relative;
    margin: 5px;
    width: 75px;
    margin: 1.5rem;
}

.cast li img {
    border: 1px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 10px #3333331A;
    object-fit: cover;
    height: 75px;
    width: 75px;
}

.cast li span {
    font-size: 0.9rem;
    display: inline-block;
    text-overflow: ellipsis;
    width: 75px;
}

.review-section {
    padding: 1rem 1rem 0rem;
    margin-bottom: 20px;
}

.review-section span {
    font-weight: bold;
    font-size: large;
    color: #708ED2;
}

.review-section .see-review {
    margin: auto;
    display: block;
    border-radius: 30px;
    padding: 0.8rem 4rem;
    border-color: transparent;
    background-color: #708ED2;
    font-size: large;
    color: #FFFFFF;
}

.review-section .hidden {
    display: none;
}

.review-list {
    align-items: center;
}

.review-info {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    max-height: 150px;
}

.review-info .review-name {
    font-weight: bold;
    padding-right: 10px;
    font-size: 1rem;
    min-width: 140px;
}

.review-info .review-text {
    font-style: italic;
    font-size: 1rem;
    max-height: 100;
    overflow: auto;
}

.review-info .review-text p {
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem 2rem;
    font-size: 2rem;
}

.prev-page {
    font-size: 2rem;
    color: #ffffff;
    margin-right: 2rem;
    cursor: pointer;
}

.page-num {
    color: #FFFFFF;
}

.next-page {
    font-size: 2rem;
    color: #ffffff;
    margin-left: 2rem;
    cursor: pointer;
}

.author {
    color: #ffffff;
    text-align: center;
    background-color: #708ED2;
    padding: 1rem 0rem 2rem;
}

.socials {
    text-align: center;
}

.sc-btn {
    display: inline-block;
    font-weight: 600;
    box-sizing: border-box;
    text-align: center;
    min-width: 40px;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: 0.375rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-decoration: none;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

.btn-facebook {
    color: #ffffff;
    border-color: #4267B2;
    background-color: #4267B2;
}

.btn-linkedin {
    color: #ffffff;
    border-color: #0e76a8;
    background-color: #0e76a8;
}

.btn-github {
    color: #ffffff;
    border-color: #211F1F;
    background-color: #211F1F;
}